// Insert app styles here

body {
	background-color: #203838;
	background-image: image-url('concrete_wall.png');
	color: #ccc;
}

.jumbotron {
	padding-top: 5%;
	text-align: center;
	h1 {
		font-size: 120px;
		line-height: 1.2;
		margin-bottom: 20px;
	}
}

footer .footer-inner {
	background: transparent;
}

