.infosheet {
  position: relative;
  max-width: 800px;
  margin: 2em auto;
  padding-bottom: 1em;
  border: 1px solid #afafaf;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 5px;
  .leftear, .rightear{
    position: absolute;
    top: 0.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 4em;
    span{
      color: #ccc;
    }
    a, span {
      display: block;
      position: relative;
      font-size: 300%;
      text-decoration: none;
    }
    a:hover{
      text-decoration: none;
    }
  }
  
  .leftear {
    left: -4em;
    text-align: right;
    a, span {
      padding-right: 0.33em;
      -moz-transition-property: left;
      -webkit-transition-property: left;
      -o-transition-property: left;
      transition-property: left;
      -moz-transition-duration: 0.1s;
      -webkit-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -moz-transition-timing-function: linear;
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
    }
    a:hover {
      left: -5px;
      -moz-transition-property: left;
      -webkit-transition-property: left;
      -o-transition-property: left;
      transition-property: left;
      -moz-transition-duration: 0.1s;
      -webkit-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -moz-transition-timing-function: linear;
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
    }
  }
  
  .rightear {
    right: -4em;
    text-align: left;
    a, span {
      padding-left: 0.33em;
      -moz-transition-property: right;
      -webkit-transition-property: right;
      -o-transition-property: right;
      transition-property: right;
      -moz-transition-duration: 0.1s;
      -webkit-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -moz-transition-timing-function: linear;
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
    }
    a:hover {
      right: -5px;
      -moz-transition-property: right;
      -webkit-transition-property: right;
      -o-transition-property: right;
      transition-property: right;
      -moz-transition-duration: 0.1s;
      -webkit-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      transition-duration: 0.1s;
      -moz-transition-timing-function: linear;
      -webkit-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
    }
  }
}

.infosheet {
  .section {
    padding: 0 2em;
    h1 {
      margin: 0.5em 0 0 0;
    }
    h2 {
      font-size: 100%;
      background: #d9e8f0;
      padding: 0.15em 0.5em;
      margin: 1em -0.5em;
      color: #444444;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      -khtml-border-radius: 3px;
      border-radius: 3px;
      line-height: 1.5em; 
    }
    .social {
      position: relative;
      margin: 1em 0;
      iframe {
        display: inline-block;
      }
      .facebooklike {
        position: relative;
        top: 1px;
      }
    }
    .bar {
      position: relative;
      color: white;
      background-color: #df5e0e;
      padding: 1px 3em;
      margin: 1em -1em;
      -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
      -o-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
      box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    }
    .bar:after, .bar:before {
      display: block;
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 0.5em 1em;
      height: 0px;
      width: 0px;
      z-index: -1;
    }
    .bar:before {
      left: -1em;
      bottom: -0.5em;
      border-color: transparent #df5e0e transparent transparent;
    }
    .bar:after {
      right: -1em;
      bottom: -0.5em;
      border-color: transparent transparent transparent #df5e0e;
    }
    .first {
      border-top: none;
    }
  }
  .votebox {
    float: right;
    text-align: center;
    padding-left: 1em;
    .label {
      margin-top: 0.5em;
    }
    .choices {
      font-size: 200%;
      span.score{
        font-family: inconsolata-1, inconsolata-2, Inconsolata, monospace;
        border: 1px solid #b7b7b7;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        padding: 0 3px;
      }
      span.indicator {
        font-family: inconsolata-1, inconsolata-2, Inconsolata, monospace;
      }
      a.votechoice {
        font-family: inconsolata-1, inconsolata-2, Inconsolata, monospace;
        border: 1px solid transparent;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        padding: 0 3px;
      }
      a.votechoice:hover {
        border: 1px solid #b7b7b7;
        text-decoration: none;
      }
      a.votechoice:active,a.votechoice.selected {
        background-color: #d9e8f0;
        color: #444444;
      }
    }
  }
  
}

.infosheet .section h1 + p, .infosheet .section h1 + ul, .infosheet .section h1 + ol, .infosheet .section h2 + p, .infosheet .section h2 + ul, .infosheet .section h2 + ol {
  margin-top: 0.5em;
}



.comments {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  p, blockquote, ul,  ol, table, dl {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  li.comment {
    position: relative;
    padding: 0.5em 0.5em;
    margin: 0;
    min-height: 3em;
  }
  div.target {
    margin: -0.25em;
    padding: 0.25em;
    background-color: #ffffa2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
  }
  .collapse, .uncollapse {
    font-family: inconsolata-1, inconsolata-2, Inconsolata, monospace;
  }
  .comment-vote {
    position: absolute;
    text-align: center;
    left: -2em;
    width: 2em;
    font-size: 80%;
    a {
      color: #b7b7b7;
      .comment-vote-cancel{
        color: #816894;
      }
    }
    a:hover {
      text-decoration: none;
      color: #816894;
    }
  }
  .com-children {
    border-left: 1px dotted #b7b7b7;
    list-style: none;
    margin-left: 0;
    padding-left: 2em;
    margin-bottom: 0;
  }
  .com-header, .com-footer {
    font-size: 80%;
    color: #b7b7b7;
    .commenter {
      color: #444;
      font-weight: bold;
      .selected {
        color: #444444;
        background-color: #d9e8f0;
        padding: 1px 0.25em;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
      }
    }
    a {
      color: #b7b7b7;
    }
    a:hover {
      color: #816894;
      text-decoration: none;
    }
  }
}

ul.cardset {
  *zoom: 1;
  list-style: none;
  margin: 1.5em 0 1em 0;
  padding: 0;
  font-family: Gill Sans, sans-serif;
  li {
    background: #fff;
    vertical-align: top;
    margin: 0 1.5em 0.5em 0;
    width: 300px;
    border: 1px solid #dddddd;
    display: block;
    float: left;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 160, 255, 0.7), 0 0 10px rgba(0, 0, 255, 0.7);
    -moz-box-shadow: 0 5px 15px rgba(0, 160, 255, 0.7), 0 0 10px rgba(0, 160, 255, 0.7);
    box-shadow: 0 5px 15px rgba(0, 160, 255, 0.7), 0 0 10px rgba(0, 160, 255, 0.7);
    z-index: -2;
    a, a:hover, a:active, a:visited {
      color: inherit;
      display: block;
      margin: 0;
      padding: 0;
      text-decoration: none;
      .title {
        display: block;
        padding: 0 1em;
        overflow: hidden;
        border-bottom:1px solid #dddddd;
        height: 7em;
        h2 {
          color: #DF5E0E;
          font-size: 160%;
          text-transform: uppercase;
          line-height:1.2em;
        }
        h3 {
          font-size: 80%;
          color: #666;
          font-weight: normal;
          margin:0;
        }
      }
      .body {
        display: block;
        padding: 0 1em;
        overflow: hidden;
        color: #000000;
        height:7em;
      }
    }
  }
  li:hover {
    background: #f6f6f6;
  }
}

ul.cardset:after {
  content: "";
  display: table;
  clear: both;
}

.eventhead p {
  margin: 1em 0;
}
dl.bar dt:after {
  content: ": ";
}
dl.bar { 
  margin:0;
  padding:0;
  overflow: hidden;
  dt {
    float:left;
    margin:0 0.5em 0 0;
  }
  dd {
    float:left;
    text-indent:0;
    margin:0 1em 0 0;
    p { margin: 0; }
  }
}

.btn {
  margin: 2px 0px;
}

table.proposals thead th {
 background-color:#816894;
 opacity:0.2;
 border-top: 1px solid #AAAAAA !important;
 color: #FFFFFF !important;
}

table.proposals th, table.proposals td {
 border-left: 1px solid #AAAAAA;
 border-right: 1px solid #AAAAAA;
 border-bottom: 1px solid #AAAAAA;
 padding:0.2em 1em;
 text-align:left;
 vertical-align:top;
}


