Flask
https://github.com/hasgeek/coaster/archive/master.zip
https://github.com/hasgeek/baseframe/archive/master.zip
Flask-SQLAlchemy
https://github.com/hasgeek/flask-lastuser/zipball/master
nose
pytz
https://github.com/jace/pydocflow/zipball/master
ordereddict
fabric
markdown
Flask-WTF
unicodecsv
Flask-Script
https://github.com/jace/flask-alembic/archive/master.zip
Flask-Mail
html2text
Flask-Migrate
