{% macro commentfeed(comments) %}
	{% for comment in comments -%}
        &lt;a href="{{comment.user.profile.url_for()}}" &gt;{{ comment.user.fullname }} &lt;/a&gt; commented {{ comment.message_html }}.
            {% if comment.reply_to -%}
        	   Replied to: &lt;a href="{{comment.user.profile.url_for()}}" &gt; {{ comment.reply_to.user.fullname }} &lt;/a&gt;
            {%- endif %}
            Votes: {{ comment.votes.count }}
            Date: {{ comment.created_at.strftime("%a, %b %e") }}&lt;br&gt;
            {% if comment.children -%}
        	   {{ commentfeed(comment.sorted_children()) }}
            {%- endif %}
    {% endfor -%}
{% endmacro %}
