{% extends "layout.html" %}
{% from "comments.html" import commenttree %}
{% from "forms.html" import renderform, ajaxform %}

{% block title %}{{ event.title }}{% endblock %}

{% macro participant_list(event, participants) -%}
  <div class="row">
    {%- for p in participants -%}
      <div class="span3 participant">
        <a href="{{ p.user.profile_url }}"><div class="participant-img"><i class="icon-user icon-4x"></i></div></a>
        <div class="participant-name">
          <b><a href="{{ p.user.profile_url }}">{{ p.user.fullname }}</a></b>
        
          <div class="participating-projects">
            {% with projects = p.user.projects_in(event) %}
              {%- if projects %}
                <em class="participating-project-header">
                  {% if projects | length ==1 %}
                    {{ projects | length }} Project
                  {% else %}
                    {{ projects | length }} Projects
                  {% endif %}
                </em>
                <ul>
                  {%- for project in projects -%}
                    <li class="project-color-tab project-num{{ project.url_id}}"><a href="{{ url_for('project_view', profile=profile.name, event=event.name, project=project.url_name) }}" title="{{ project.title }}"> </a></li>
                  {% endfor -%}
                </ul>
              {% else %}
                <em class="participating-project-header">
                  No Projects</em>
              {%- endif %}
            {% endwith %}
          </div>
        </div>

        <div class="participant-count">{{ loop.index }}</div>
      </div>
    {%- endfor %}
</div>
{%- endmacro %}

{% block headline %}{% endblock %}
{% block content %}
  <div class="row section">
    <div class="span9">

      <div class="page-header">
        <h3><a href="{{ profile.url_for() }}">{{ event.profile.title }}</a><i class="icon-caret-right"></i></h3>
        <h1>{{ self.title() }}</h1>
      </div>
      {{ event.description|safe }}
    </div>
    <div class="span3">
      <ul class="well nav nav-list">
        <li><span class="icon-calendar">{{ event.start_datetime | fulldate }} &mdash; {{ event.end_datetime | fulldate }}</span></li>
        {% if event.ticket_price -%}
          <li><span class="icon-money">Entry Fee: {{ event.ticket_price }}</span></li>
        {%- endif %}
        <li><a href="{{ event.venue.url_for() }}"><span class="icon-map-marker">{{ event.venue.title }}</span></a></li>
        <li><span class="icon-blank">{{ event.venue.address1 }}</span></li>
        {% if event.venue.address2 -%}
          <li><span class="icon-blank">{{ event.venue.address2 }}</span></li>
        {%- endif %}
        <li><span class="icon-blank">{{ event.venue.city }}, {{ event.venue.state }}{%- if event.venue.postcode %} &ndash; {{ event.venue.postcode }}{% endif %}, {{ event.venue.country }}</span></li>
        {% if event.website -%}
          <li><a href="{{ event.website }}" target="_blank"><span class="icon-link">{{ event.website|cleanurl }}</span></a></li>
        {%- endif %}
        {% if workflow.can_apply() %}
          <li class="nav-header">Your participation</li>
        {%- endif %}
        {% if workflow.can_apply() and (not current_participant or current_participant.status == 4) -%}
          <li><a href="{{ event.url_for('apply') }}"><span class="icon-signin">Register now {%- if not g.user %} (login required) {%- endif %}...</span></a></li>
        {% else %}
          {% if event.owner_is(g.user) -%}
            <li><span class="icon-user">You are an owner</span></li>
          {%- else -%}
            {% if current_participant.status == 0 -%}
              <li><span class="icon-user">Pending approval</span></li>
            {%- elif current_participant.status == 2 -%}
              <li><span class="icon-user">Confirmed</span></li>
            {%- elif current_participant.status == 1 -%}
              <li><span class="icon-user">Wait listed</span></li>
            {%- elif current_participant.status == 3 -%}
              <li><span class="icon-user">Rejected</span></li>
            {%- elif current_participant.status == 4 -%}
              <li><span class="icon-user">Withdrawn</span></li>
            {%- endif -%}
          {%- endif %}
          {% if workflow.can_apply() -%}
            <li><a href="{{ event.url_for('withdraw') }}"><span class="icon-signout">Withdraw registration...</span></a></li>
          {%- endif %}
        {% endif %}
        {%- if event.owner_is(g.user) %}
          <li class="nav-header">Manage event</li>
          <li><a href="{{ event.url_for('open') }}"><i class="icon-wrench"></i> Manage event</a></li>
          <li><a href="{{ event.url_for('export') }}"><i class="icon-wrench"></i> Export participants list</a></li>
          <li><a href="{{ event.url_for('edit') }}"><i class="icon-pencil"></i> Edit details...</a></li>
          <li><a href="{{ event.url_for('delete') }}"><i class="icon-trash"></i> Delete event...</a></li>
          <li><a href="{{ event.url_for('send_email') }}"><i class="icon-envelope"></i>Email participants...</a></li>
          <li><a href="{{ event.url_for('email_template') }}"><i class="icon-envelope"></i>Email template...</a></li>
        {% endif -%}
      </ul>
      {% if event.sponsors %}
        <h3>Sponsors</h3>
        <ul class="sponsor-box">
          {% for sponsor in event.sponsors %}
            <li><a href="{{ sponsor.url_for() }}"><img src="{{ sponsor.image_url }}" class="sponsor-logo"></a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>


  </div>
  <ul class="nav nav-tabs nav-tabs-auto">
    <li><a href="#participants" data-toggle="tab">Participants</a></li>
    <li><a href="#projects" data-toggle="tab">Projects</a></li>
    <li><a href="#wall" data-toggle="tab">Event Wall</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="participants">
      {{ participant_list(event, accepted_participants) }}
      <br />
      {% if rest_participants %}
        <h3 class="h3-title">Other Participants</h3>
        {{ participant_list(event, rest_participants) }}
      {% endif %}
    </div>
    <div class="tab-pane" id="projects">
      <div class="project-cards">
        <ul class="cardset light-bg row">
          {% for p in projects %}
            <li class="span3">
              <a class="project-num{{ p.url_id}}" href="{{ url_for('project_view', profile=profile.name, event=event.name, project=p.url_name) }}">
                <div class="card-title">
                  <h2>{{ p.title }}</h2>
                </div>
                <div class="member-count">
                  {% if p.members | length == 1 %}
                    1 member
                  {% elif p.members | length == 0 %}
                    No members yet
                  {% else %}
                    {{ p.members | length }} members
                  {%- endif %}
                </div>
                <div class="card-body">
                  {{ p.blurb }}
                </div>
              </a>
            </li>
          {% endfor %}
          <div class="mob-seperator">
            <br />
          </div>
          {% if current_participant.status == 2 %}
            <li class="span3">
              <a href="{{ url_for('project_new', profile=profile.name, event=event.name) }}">
                <div class="card-title new-project">
                  <h2>New project...</h2>
                </div>
                <div class="card-body large-plus"><i class="icon-plus"></i></div>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="tab-pane" id="wall">
      <div class="row">
        <div class="span9">
          <div class="section"> <b> Discussion space for Hacknight </b>
            <h3 class="h3-title" id="comments">Comments</h3>
            {% if comments %}
              <ul class="comments">
                {{ commenttree(comments, event, g.user, request.base_url) }}
              </ul>
            {% endif %}
            {% if not g.user -%}
              <p>
                <a href="{{ url_for('login') }}">Login with Twitter or Google to leave a comment &rarr;</a>
              </p>
            {% else -%}
              <p id="toplevel-comment" class="hidden">
                <a href="#">Post a comment &rarr;</a>
              </p>
              <form method="POST" id="newcomment">
                <div class="hidden">
                  <input type="hidden" name="form.id" value="newcomment"/>
                  {{ commentform.hidden_tag() }}
                  {{ commentform.reply_to_id() }}
                  {{ commentform.edit_id() }}
                </div>
                <p>
                  {{ commentform.message() }}
                </p>
                <p>
                  <input id="comment-submit" type="submit" value="Post comment"/>
                </p>
              </form>
              <form method="POST" id="delcomment" class="hidden">
                <div class="hidden">
                  <input type="hidden" name="form.id" value="delcomment"/>
                  {{ delcommentform.hidden_tag() }}
                  {{ delcommentform.comment_id() }}
                </div>
                <p>
                  Really delete this comment?
                  <input id="comment-delete-submit" type="submit" value="Delete"/>
                  or <a id="comment-delete-cancel" href="#">cancel</a>
                </p>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if event.venue.latitude and event.venue.longitude %}
    <div id="map" class="event-map"></div>
  {% endif %}

{% endblock %}

{% block footerscripts %}
<script>
if({{ applied }})
{
console.log({{ applied }});
  $("#register").addClass("hidden");
  $("#withdraw").removeClass("hidden");
};

if("{{ event.profile.userid }}"=="{{ g.user.userid }}")
{
  $("#register").addClass("hidden");
  $("#withdraw").addClass("hidden");
};

</script>

<script type="text/javascript">
  $(function() {
    {% if event.venue.latitude and event.venue.longitude %}
      var map = new L.Map('map');

      //BC9A493B41014CAABB98F0471D759707
      var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/0cb2761ce981414391f2941dd891892c/999/256/{z}/{x}/{y}.png',
        subDomains = ['a','b','c'],
        cloudmadeAttrib = '<a href="http://maps.cloudmade.com" target="_blank">CloudMade</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
      var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});
      var venue = new L.LatLng({{ event.venue.latitude }}, {{ event.venue.longitude }}); // geographical point (longitude and latitude)
      map.setView(venue, 16).addLayer(cloudmade);

      var venue_marker = new L.Marker(venue);
      map.addLayer(venue_marker);
      venue_marker.bindPopup('{{ event.venue.title }}').openPopup();
      map.scrollWheelZoom.disable();

      map.on('zoomend', onZoomend);
      function onZoomend(){
          map.setView(venue, map.getZoom());
      };
    {% endif %}
    commentsInit("{{ request.base_url }}"); 
  });
  </script>

{% endblock %}
