{% extends "layout.html" %}
{% block title %}{{ event.title }}{% endblock %}

{% macro participant_list(participants) -%}
  <ul>
    {% for participant in participants -%}
      <li>
        <a href="{{ url_for('profile_view', profile=participant.user.profile.name) }}">{{ participant.user.fullname }}</a>
      </li>
    {% endfor -%}
  </ul>
{%- endmacro %}

{% block headline %}{% endblock %}
{% block content %}
  <div class="row section">
    <div class="span8">
      <div class="page-header">
        <h3><a href="{{ url_for('profile_view', profile=event.profile.name) }}">{{ event.profile.title }}</a> &raquo;</h3>
        <h1>{{ self.title() }}</h1>
      </div>
      {{ event.description|safe }}
    </div>
    <div class="span4">
      <ul class="well nav nav-list">
        <li><i class="icon-calendar"></i> {{ event.start_datetime | fulldate }} &mdash; {{ event.end_datetime | fulldate }}</li>
        {% if event.ticket_price -%}
          <li><i class="icon-money"></i> {{ event.ticket_price }}</li>
        {%- endif %}
        <li><a href="{{ url_for('venue_view', venue=event.venue.name) }}"><i class="icon-map-marker"></i> {{ event.venue.title }}</a></li>
        <li><i class="icon-blank"></i> {{ event.venue.address1 }}</li>
        {% if event.venue.address2 -%}
          <li><i class="icon-blank"></i> {{ event.venue.address2 }}</li>
        {%- endif %}
        <li><i class="icon-blank"></i> {{ event.venue.city }}, {{ event.venue.state }}{%- if event.venue.postcode %} &ndash; {{ event.venue.postcode }}{% endif %}, {{ event.venue.country }}</li>
        {% if event.website -%}
          <li><a href="{{ event.website }}" target="_blank"><i class="icon-link"></i> {{ event.website|cleanurl }}</a></li>
        {%- endif %}
        <li class="nav-header">Your participation</li>
        {% if not current_participant or current_participant.status == 4 -%}
          <li><a href="{{ url_for('event_apply', profile=profile.name, event=event.name) }}"><i class="icon-signin"></i> Register now {%- if not g.user %} (login required) {%- endif %}...</a></li>
        {% else %}
          <li><i class="icon-user"></i> {% if event.owner_is(g.user) -%}
            You are an owner
          {%- else -%}
            {% if current_participant.status == 0 -%}
              Pending approval
            {%- elif current_participant.status == 2 -%}
              Confirmed
            {%- elif current_participant.status == 1 -%}
              Wait listed
            {%- elif current_participant.status == 3 -%}
              Rejected
            {%- elif current_participant.status == 4 -%}
              Withdrawn
            {%- endif -%}
          {% endif %}</li>
          <li><a href="{{ url_for('event_withdraw', profile=profile.name, event=event.name) }}"><i class="icon-signout"></i> Withdraw registration...</a></li>
        {% endif %}
        {%- if event.owner_is(g.user) %}
          <li class="nav-header">Manage event</li>
          <li><a href="{{ url_for('event_open', event=event.name, profile=profile.name) }}"><i class="icon-wrench"></i> Manage event</a></li>
          <li><a href="{{ url_for('event_edit', event=event.name, profile=profile.name) }}"><i class="icon-pencil"></i> Edit details...</a></li>
          <li><a href="{{ url_for('event_delete', event=event.name, profile=profile.name) }}"><i class="icon-trash"></i> Delete event...</a></li>
        {% endif -%}
      </ul>
    </div>
  </div>

  <div id="map" class="event-map"></div>

  <ul class="cardset row">
    {% for p in projects %}
      <li class="span4">
        <a href="{{ url_for('project_view', profile=profile.name, event=event.name, project=p.url_name) }}">
          <div class="card-title">
            <h2>{{ p.title }}</h2>
          </div>
          <div class="card-body">
            {{ p.description|safe }}
          </div>
        </a>
      </li>
    {% endfor %}
    <li class="span4">
      <a href="{{ url_for('project_new', profile=profile.name, event=event.name) }}">
        <div class="card-title">
          <h2>New project...</h2>
        </div>
        <div class="card-body large-plus"><i class="icon-plus"></i></div>
      </a>
    </li>
  </ul>
{#
                {% for p in projects %}
                <tbody>
                  <tr>
                    <td><a href="{{ url_for('project_view', profile=profile.name ,project=p.url_name,event=event.name) }}">{{ p.id }}</a></td>
                    <td><a href="{{ url_for('project_view', profile=profile.name ,project=p.url_name,event=event.name) }}"	><strong>{{ p.title }}</strong></a></td>
                    <td><a href="{{ url_for('project_view', profile=profile.name ,project=p.url_name,event=event.name) }}">{{ p.members.filter_by(status=0).first().participant.user.fullname }}</a></td>
                    <td><a href="{{ url_for('project_view', profile=profile.name ,project=p.url_name,event=event.name) }}">{{ p.votes.count }}</a></td>
                    <td><a href="{{ url_for('project_view', profile=profile.name ,project=p.url_name,event=event.name) }}">{{ p.comments.count }}</a></td>
                    <td><a href="{{ url_for('project_view', profile=profile.name ,project=p.url_name,event=event.name) }}">{{ p.members.count() }}</a></td>

                    <td><a href="{{ url_for('project_view', profile=profile.name ,project=p.url_name,event=event.name) }}">{{ p.created_at.strftime("%a, %b %e") }}</a></td>
                  </tr>

                {% endfor %}
                </tbody>
              </table>
     {%- else -%}
      <h2>No projects submitted yet</h2>
     {% endif %}
    </div>
  </div>

  <div class="section row">
    <div class="span12">
      <h2>Registered Participants</h2>
      {{ participant_list(acceptedparticipants) }}
      {{ participant_list(restparticipants) }}
    </div>
  </div>
#}
{% endblock %}

{% block footerscripts %}
<script>
if({{ applied }})
{
console.log({{ applied }});
  $("#register").addClass("hidden");
  $("#withdraw").removeClass("hidden");
};

if("{{ event.profile.userid }}"=="{{ g.user.userid }}")
{
  $("#register").addClass("hidden");
  $("#withdraw").addClass("hidden");
};

</script>

<script type="text/javascript">
  $(function() {
    var map = new L.Map('map');
    
    //BC9A493B41014CAABB98F0471D759707
    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/0cb2761ce981414391f2941dd891892c/999/256/{z}/{x}/{y}.png',
        subDomains = ['a','b','c'],
        cloudmadeAttrib = '<a href="http://maps.cloudmade.com" target="_blank">CloudMade</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
        var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});

        console.log({{ event.venue.latitude }});
        var venue = new L.LatLng({{ event.venue.latitude }}, {{ event.venue.longitude }}); // geographical point (longitude and latitude)
        map.setView(venue, 16).addLayer(cloudmade);
        
          var venue_marker = new L.Marker(venue);
            map.addLayer(venue_marker);
            venue_marker.bindPopup('{{ event.venue.title }}').openPopup();
            map.scrollWheelZoom.disable();

            map.on('zoomend', onZoomend);
    function onZoomend(){ 
        map.setView(venue, map.getZoom());
    };
  });
  </script>

{% endblock %}
