{% extends "layout.html" %}
{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<div id="main">
  <div class="row">
    <div class="eventhead span12">  
      <h1> {{ event.title }}</h1>          
      
      <div class="section bar">
        <dl class="bar">
            <dt>When</dt>
            <dd>{{ event.start_datetime.strftime("%a, %b %e") }} to {{ event.end_datetime.strftime("%a, %b %e") }}</dd>
            <dt>Where</dt>
            <dd>Bangalore</dd>
        </dl>
      </div>
    

       <a href="{{ url_for('event_apply', profile=profile.name, event=event.name) }}" class="btn btn-primary" id="register">Register Now</a>

          <a href="{{ url_for('event_withdraw', profile=profile.name, event=event.name) }}" class="btn btn-danger hidden" id="withdraw">Withdraw</a>

      <a href="{{ url_for('project_new', profile=profile.name, event=event.name) }}" class="btn btn-primary">Propose a Project</a>
      <p> {{ event.description|safe }} </p>
    </div>
  </div>

  <div class="row">
    <div id="tabs" class="span12">
              <h2>Project Proposals</h2>
              <table class="table proposals">
                
                <thead>
                  <th>#</th>
                  <th>Title</th>
                  <th>Proposer</th>
                  <th>+1</th>
                  <th>Comments</th>
                  <th>Submitted</th>
                </thead>
                {% for p in projects %}
                <tbody>
                  <tr>
                    <td><a href="{{ url_for('project_show', profile=profile.name ,project=p.name,event=event.name) }}">{{ p.id }}</a></td>
                    <td><a href="{{ url_for('project_show', profile=profile.name ,project=p.name,event=event.name) }}"	><strong>{{ p.title }}</strong></a></td>
                    <td><a href="{{ url_for('project_show', profile=profile.name ,project=p.name,event=event.name) }}">{{ p.members.filter_by(status=0).first().participant.user.fullname }}</a></td>
                    <td><a href="{{ url_for('project_show', profile=profile.name ,project=p.name,event=event.name) }}">{{ p.votes.count }}</a></td>
                    <td><a href="{{ url_for('project_show', profile=profile.name ,project=p.name,event=event.name) }}">{{ p.comments.count }}</a></td>
                    <td><a href="{{ url_for('project_show', profile=profile.name ,project=p.name,event=event.name) }}">{{ p.created_at.strftime("%a, %b %e") }}</a></td>
                  </tr>
                  {%- else -%}
                   <tr>
                      <td><em>(No projects submitted yet)</em></td>
                   </tr>
                {% endfor %}
                </tbody>
              </table>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>Registered Participants</h2>
        {% for participant in participants %}
        {% if participant.status == 2 %}
      <p>
            <a href="{{ url_for('profile_view', profile=profile.name) }}">  {{ participant.user.fullname }}</a>
      </p>
        {% endif %}
          {% endfor %}
    </div>
  </div>


</div>
{% endblock %}

{% block footerscripts %}
<script>
if({{ applied }})
{
  $("#register").addClass("hidden");
  $("#withdraw").removeClass("hidden");
};


</script>

{% endblock %}