{% extends "layout.html" %}
{% from "baseframe/components.html" import networkbar with context %}
{% from "macros/cardset.html" import cardset with context %}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block headerbox %}
  <header>
    {{ networkbar(siteid=config['SITE_ID'], login=true, baseclass='hg-dark') }}
    <h1 class="masthead"><img src="{{ url_for('static', filename='img/hacknightlogo.png') }}" alt="Hacknight"></h1>
  </header>
{% endblock %}

{% block headline %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="span12 centered">
      {% if not g.user %}
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-large" id="create">Login to join a hacknight</a>
      {% endif %}
    </div>
  </div>
  <div class="centered">{{ cardset(upcoming_events, type = 'upcoming') }}</div>
  <div class="centered"><hr>{{ cardset(past_events, type = 'past') }}</div>
{% endblock %}
