{% extends "layout.html" %}
{% from "baseframe/components.html" import networkbar with context %}
{% from "macros/cardset.html" import cardset with context %}
{% block titletags -%}
  <title>{% block title %}{{ config['SITE_TITLE'] }}{% endblock %}</title>
  <meta name="DC.title" content="{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block headerbox %}
<div class="wallpaper">
  <header>
    {{ networkbar(siteid=config['SITE_ID'], login=true, baseclass='hg-dark') }}
    {% if not g.user %}
    <div id="page-header">
      <div class="container">
        <div class="row">
          <div class="span10">
            <h1 class="masthead"><img src="{{ url_for('static', filename='img/hacknightlogo.png') }}" alt="Hacknight"></h1>
          </div>
          <div class="span2 home-buttons">
            <div class="row">
              <a href="{{ url_for('login') }}" class="btn btn-primary btn-large" id="create" title="You need to be logged in to Join a Hacknight.">Join a hacknight</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div id="page-header-after-login">
      <div class="container">
        <div class="row">
          <div class="span10">
            <h1 class="masthead"><img src="{{ url_for('static', filename='img/hacknightlogo.png') }}" alt="Hacknight"></h1>
          </div>
        </div>
      </div>
    </div>
    {% endif %}   
  </header>
</div>
{% endblock %}

{% block headline %}{% endblock %}

{% block main -%}
  {% block basecontent %}
    {% block content %}
      
      <div class="row">
        <div class="centered upcoming">{{ cardset(upcoming_events, type = 'upcoming') }}</div><hr/>
        <div class="centered">{{ cardset(past_events, type = 'past') }}</div>
      </div>
    {% endblock %}
  {% endblock %}
{% endblock %}
