{% extends "baseframe.html" %}
{% from "baseframe/components.html" import networkbar with context %}

{% block headerbox %}
  <header>
    {{ networkbar(siteid=config['SITE_ID'], login=true, baseclass='hg-dark') }}
    <div id="page-header" class="container">
      <div class="logo">
          <a href="{{ url_for('index') }}" title="Home">
          <img src="{{ url_for('static', filename='img/hacknightlogo-small.png') }}" alt="Hacknight Home Page" title="Click to go to Hacknight Home Page"/>
          </a>
      </div>
    </div>
  </header>

{% endblock %}

{% block basecontent %}
  {% block content %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}
