{% extends "baseframe.html" %}
{% from "baseframe/components.html" import networkbar with context %}

{% block headerbox %}
  <header>
    {{ networkbar(siteid=config['SITE_ID'], login=true, baseclass='hg-dark') }}
    <div id="page-header-inner">
      <div class="container">
        <div class="row">
          <div class="span10 logo">
              <a href="{{ url_for('index') }}" title="Home">
              <img id="inner-page-logo" src="{{ url_for('static', filename='img/hacknightlogo-small.png') }}" alt="Hacknight">
            </a>
          </div>
          <div class="span2 pull-right home-buttons" id="start-btn-after-login">
            {% if not g.user %}
              <a href="{{ url_for('login') }}" class="btn btn-primary" id="create" title="Create your event">Start a hacknight</a>
            {% else %}
              <a href="{{ url_for('event_new', profile=g.user.username) }}" class="btn btn-primary" id="create" title="Create your event">Start a hacknight</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block baseheadline -%}
  {% block headline -%}
    <div class="page-header">
      <h1>{{ self.title()|e }}</h1>
    </div>
  {%- endblock %}
{%- endblock %}

{% block basecontent %}
  {% block content %}{% endblock %}
{% endblock %}
