{% extends "layout.html" %}
{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<div id="main" class="participant-list">

  <h1>Participants</h1>
  <ul class="grid container-fluid">
    <li class="row-fluid header">
      <div class="span1">#</div>
      <div class="span2">Name</div>
      <div class="span2">Status</div>
      <div class="span3">Email</div>
      <div class="span3">Phone</div>
      <div class="span2"></div>
      <div class="span12"></div>

    </li>
  {% set sorted_participants = participants.all() | sort(attribute='user.username') %}
  {% for i, participant in enumerate(sorted_participants) %}
    <li class="row-fluid item participant-{{ participant.id }}" data-status="{{ participant.status }}">
      <div class="span1">{{ i+1 }}</div>
      <div class="span2">{{ participant.user.fullname }}</div>
      <div class="span2 participant-status-label">{{ participant.status | show_participant_status}}</div>
      <div class="span3">{{ participant.email }}</div>
      <div class="span3">{{ participant.phone_no }}</div>
      <div class="span2">
      <a href="#" class="update-participant-status" data-id="{{ participant.id }}" data-status="2" title="Accept">accept</a> |
      <a href="#" class="update-participant-status" data-id="{{ participant.id }}" data-status="3" title="Reject">reject</a> |
      <a href="#" class="update-participant-status" data-id="{{ participant.id }}" data-status="1" title="Wait-list">wait-list</a>
    </div>
      <div class="span12">{{ participant.reason_to_join|safe }}</div>
  </li>
  {% endfor %}
</ul>
  </div>


{% endblock %}
{% block footerscripts %}
  <script type="text/javascript">
    $(function() {
      $('.update-participant-status').click(function(e) {
        var el = $(this),
            id = el.attr('data-id'),
            participantEl = $('.participant-list .participant-'+id),
            currentStatus = participantEl.attr('data-status'),
            newStatus = el.attr('data-status'),
            statusLabels = {{statuslabels | tojson | safe}};
            if (newStatus == 2)
              $('div#contact-info').html("");
        e.stopPropagation();
        participantEl.children('.participant-status-label').text(statusLabels[newStatus]);
        $.post('manage/update', {participantid: id, status: newStatus})
          .error( function(){ location.reload(); } );
        return false;
      });
    });
  </script>
{% endblock %}