{% extends "layout.html" %}
{% from "macros/cardset.html" import cardset with context %}
{% block title %}{{ profile.title }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
      {{ profile.description|safe }} 
    </div>
    <div class="span6">
      <a href="{{ profile.url_for('new-event') }}"><i class="icon-pencil icon-white"></i> New Hacknight</a>
    </div>
  </div>
  {% if events -%}
    <div class="light-bg">{{ cardset(events) }}</div>
  {%- else -%}
    <p>
      {%- if is_user -%}
        <em>This person is not hosting or participating in any events.</em>
      {%- else -%}
        <em>This {{ profile.type_label()|lower }} is not hosting any events.</em>
      {%- endif -%}
    </p>
  {%- endif %}
{% endblock %}
