{% extends "layout.html" %}
{% block title %}My profile{% endblock %}

{% block content %}
  <div class="row">

	<div class="span10 hero-unit">
	<h1> {{ profile.title }} </h1>
	<h2> <p>{{ profile.description|safe }}<p> </h2>
	</div>	
</div>
<div class="row">
  <div class="span6">
  <h2> Events attended/organized </h2> </div>
</div>
<div class="row">
{% if events %}
{% for e in events %}
<a href="{{ url_for('event_view', profile=profile.name, event=e.name) }}">
	<div class="span4">
      <ul class="cardset">
        <li>
          <div class="title"> 
            <h2>{{ e.title }}</h2>
        <h3>{{ e.start_datetime.strftime("%a, %b %e") }}</h3></div>
<div class="body">
  <p>{{ e.website|safe }}</p>
  <p>{{ e.description|safe }}</p>
        </li>
    </ul>
    </div> 
    </a>
{% endfor %}
{% else %}
<div class="span6">
  <h2> No events found </h2>
</div>
{% endif %}

{% endblock %}
