{% extends "layout.html" %}
{% from "comments.html" import commenttree %}
{% from "forms.html" import renderform, ajaxform %}

{% block title %}{{ project.title }} &mdash; {{ event.title }}{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
  <div class="row">
    <div class="span1 centered voting">
      {%- with vote = project.votes.getvote(g.user) %}
      {%- if not vote -%}
        <a class="votechoice" title="Vote up" href="{{ url_for('project_voteup', profile=profile.name, event=event.name, project=project.url_name) }}"><i class="icon-caret-up"></i></a>

        <div class="votecount">{% if project.votes.count > 0 %}+{% endif %}{{ project.votes.count }}</div>

        <a class="votechoice" title="Vote down" href="{{ url_for('project_votedown', profile=profile.name, event=event.name, project=project.url_name) }}"><i class="icon-caret-down"></i></a>
      {%- elif vote.votedown -%}
        <a class="votechoice" title="Vote up" href="{{ url_for('project_voteup', profile=profile.name, event=event.name, project=project.url_name) }}"><i class="icon-caret-up"></i></a>

        <div class="votecount">{% if project.votes.count > 0 %}+{% endif %}{{ project.votes.count }}</div>

        <a class="votechoice selected" title="Vote down" href="{{ url_for('project_cancelvote', profile=profile.name, event=event.name, project=project.url_name) }}"><i class="icon-caret-down"></i></a>
      {%- else -%}
        <a class="votechoice selected" title="Vote up" href="{{ url_for('project_cancelvote', profile=profile.name, event=event.name, project=project.url_name) }}"><i class="icon-caret-up"></i></a>

        <div class="votecount">{% if project.votes.count > 0 %}+{% endif %}{{ project.votes.count }}</div>

        <a class="votechoice" title="Vote down" href="{{ url_for('project_votedown', profile=profile.name, event=event.name, project=project.url_name) }}"><i class="icon-caret-down"></i></a>
      {%- endif -%}
      {% endwith %}
    </div>
    <div class="span9">
      <div class="page-header">
        <h3><a href="{{ url_for('profile_view', profile=profile.name) }}">{{ profile.title }}</a> &raquo; <a href="{{ url_for('event_view', profile=profile.name, event=event.name) }}">{{ event.title }}</a> &raquo;</h3>
        <h1>{{ project.title }} <small><em>by</em> {{ project.user.fullname }}</small></h1>
      </div>
      {{ project.description|safe }}
    </div>
    <div class="span2">
      <div class="row">
        <div class="span1 pager-nav">
          {%- if project.getprev() -%}
            <a href="{{ url_for('project_view', profile=profile.name, event=event.name, project=project.getprev().url_name) }}" title="Previous"><i class="icon-chevron-left"></i></a>
          {%- else -%}
            <span class="disabled"><i class="icon-chevron-left"></i></span>
          {%- endif -%}
        </div>
        <div class="span1 pager-nav">
          {%- if project.getnext() -%}
            <a href="{{ url_for('project_view', profile=profile.name, event=event.name, project=project.getnext().url_name) }}" title="Next"><i class="icon-chevron-right"></i></a>
          {%- else -%}
            <span class="disabled"><i class="icon-chevron-right"></i></span>
          {%- endif -%}
        </div>
      </div>
      {% if project.owner_is(g.user) %}
        <div class="row">
          <div class="span2 centered"><a class="btn" href="{{ url_for('project_edit', profile=profile.name, event=event.name, project=project.url_name) }}">Edit</a></div>
        </div>
      {% endif %}
      {% if g.user and g.user not in project.users %}
        <div class="row">
          <div class="span2 centered"><a class="btn" href="{{ url_for('project_join', profile=profile.name, event=event.name, project=project.url_name) }}">Join</a></div>
        </div>
      {% endif %}
    </div>
  </div>
  <ul class="userset row">
    {% for user in project.users %}
      <li class="span2">
        <a href="{{ url_for('profile_view', profile=user.profile.name) }}"><i class="icon-user"></i><br>{{ user.fullname }}</a>
      </li>
    {% endfor %}
  </ul>


  <div class="section">
    <h2 id="comments">Comments</h2>
    {% if comments %}
      <ul class="comments">
        {{ commenttree(comments, project, g.user, request.base_url) }}
      </ul>
    {% endif %}
    {% if not g.user -%}
      <p>
        <a href="{{ url_for('login') }}">Login with Twitter or Google to leave a comment &rarr;</a>
      </p>
    {% else -%}
      <p id="toplevel-comment" class="hidden">
        <a href="#">Post a comment &rarr;</a>
      </p>
      <form method="POST" id="newcomment">
        <div class="hidden">
          <input type="hidden" name="form.id" value="newcomment"/>
          {{ commentform.hidden_tag() }}
          {{ commentform.reply_to_id() }}
          {{ commentform.edit_id() }}
        </div>
        <p>
          {{ commentform.message() }}
        </p>
        <p>
          <input id="comment-submit" type="submit" value="Post comment"/>
        </p>
      </form>
      <form method="POST" id="delcomment" class="hidden">
        <div class="hidden">
          <input type="hidden" name="form.id" value="delcomment"/>
          {{ delcommentform.hidden_tag() }}
          {{ delcommentform.comment_id() }}
        </div>
        <p>
          Really delete this comment?
          <input id="comment-delete-submit" type="submit" value="Delete"/>
          or <a id="comment-delete-cancel" href="#">cancel</a>
        </p>
      </form>
    {% endif %}
  </div>


{% endblock %}

{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    commentsInit("{{ request.base_url }}")});
    </script>
{% endblock %}
