{% extends "layout.html" %}
{% block title %}{{ sponsor.title }}{% endblock %}

{% block headline %}{% endblock %}
{% block content %}
  <div class="page-header">
    <h3><a href="{{ url_for('profile_view', profile=profile.name) }}">{{ profile.title }}</a> &raquo; <a href="{{ url_for('event_view', profile=profile.name, event=event.name) }}">{{ event.title }}</a> &raquo;</h3>
    <h1>{{ sponsor.title }}</h1>
  </div>
  {%- if sponsor.website %}
    <a href="{{ sponsor.website }}"><img class="sponsor-logo" src="{{ sponsor.image_url }}"></a>
  {%- else %}
    <img class="sponsor-logo" src="{{ sponsor.image_url }}" />
  {%- endif %}
  {{ sponsor.description|safe }}
{% endblock %}
