{% extends "layout.html" %}
{% block title %}{{ venue.title }}{% endblock %}

{% block content %}
{{ venue.description|safe }}
<h2>Address</h2>
<p>
  {{ venue.address1 }}<br>
  {% if venue.address2 %}{{ venue.address2 }}<br>{% endif %}
  {{ venue.city }}, {{ venue.state }}, {{ venue.country }}
</p>
<div id="map" class="event-map"></div>
{% endblock %}

{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    {% if venue.latitude and venue.longitude %}
      var map = new L.Map('map');

      //BC9A493B41014CAABB98F0471D759707
      var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/0cb2761ce981414391f2941dd891892c/999/256/{z}/{x}/{y}.png',
        subDomains = ['a','b','c'],
        cloudmadeAttrib = '<a href="http://maps.cloudmade.com" target="_blank">CloudMade</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
      var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});
      var venue = new L.LatLng({{ venue.latitude }}, {{ venue.longitude }}); // geographical point (longitude and latitude)
      map.setView(venue, 16).addLayer(cloudmade);

      var venue_marker = new L.Marker(venue);
      map.addLayer(venue_marker);
      venue_marker.bindPopup('{{ event.venue.title }}').openPopup();
      map.scrollWheelZoom.disable();

      map.on('zoomend', onZoomend);
      function onZoomend(){
          map.setView(venue, map.getZoom());
      };
    {% endif %} 
  });
  </script>

{% endblock %}