{% if events %}
{% for e in events %}
<div class="span12">
      <ul class="cardset">
        <a href="{{ url_for('event_view', profile=e.profile.name, event=e.name) }}">
          <li>
            <div class="title">
              <h2>{{ e.title }}</h2>
              <h3>{{ e.start_datetime.strftime("%a, %b %e") }}</h3>
            </div>
            <div class="body">
              <p>{{ e.website|safe }}</p>
              <p>{{ e.description|safe }}</p>
            </div>
          </li>
        </a>
      </ul>

{% endfor %}
{% else %}
      <h2> No events found </h2>
{% endif %}
</div>
