body {
  background-color: #203838;
  background-image: url('../img/dark_brick_wall.png?1339688944');
  color: #aaaaaa;
}

.wallpaper {
  background-image: url('../img/hacknight.jpg?1358155807');
  width: 100%;
  height: 600px;
  repeat: none;
  background-position: center;
  margin-bottom: 30px;
}

#hg-bar.hg-dark {
  background-color: black;
  opacity: 0.95;
}

#page-header {
  height: 200px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  opacity: 0.95;
  padding-top: 50px;
}

#page-header-inner {
  height: 75px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  opacity: 0.7;
  padding-top: 18px;
}

footer .footer-inner {
  background: transparent;
}

h1 {
  color: #f58555;
}

h2 {
  color: #c1a7cc;
}

h3 a {
  color: red;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid black;
  border-bottom: 2px solid #333333;
}

.home-buttons .btn-primary {
  color: #0087cf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: black;
  background-image: none;
  border: 1px solid #0087cf;
  width: 100%;
  margin-top: 11px;
  font-size: 18px;
}
.home-buttons .btn-primary:hover {
  color: black;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0087cf;
  border: 1px solid #0087cf;
}

#start-btn-home-after-login {
  margin-top: 30px;
}

#start-btn-after-login {
  margin-top: -10px;
}

.centered {
  text-align: center;
}

label {
  color: #aaaaaa;
}

.help-block {
  color: #666666;
}

input, textarea, select, .uneditable-input {
  color: #aaaaaa;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}

.form-actions {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.chzn-results li, .datepicker .calendar {
  color: #333333;
}

.alert, .alert-success {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-shadow: none;
}
.alert .close, .alert-success .close {
  color: white;
  text-shadow: none;
}

.well {
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  background: rgba(0, 0, 0, 0.1);
}
.well .nav.nav-list:first-child {
  margin-top: -1px;
}
.well.nav.nav-list {
  padding-top: 20px;
  padding-bottom: 20px;
}
.well .pager {
  margin-bottom: 0;
}

.pager-nav, .voting {
  text-align: center;
  line-height: 1;
  font-size: 42px;
}
.pager-nav div.votecount, .voting div.votecount {
  font-size: 28px;
  line-height: 1;
}
.pager-nav a, .voting a {
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.pager-nav a:hover, .voting a:hover {
  text-decoration: none;
}

.nav-list > li > a, .nav-list .nav-header {
  margin-left: -14px;
  margin-right: -14px;
  padding: 0 14px;
  text-shadow: none;
}

.nav-list > li > a [class^="icon-"]::before, .nav-list > li > a [class*=" icon-"]::before {
  color: #aaaaaa;
}

.nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #aaaaaa;
}

.cardset, .userset {
  list-style: none;
}
.cardset li, .userset li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 15em;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.cardset li .card-badge, .userset li .card-badge {
  position: absolute;
  right: 6px;
  top: 5px;
  color: #595959;
}
.cardset li a, .userset li a {
  overflow: hidden;
  border-top: 5px solid #0087cf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  width: 100%;
  height: 100%;
  padding: 0 14px 9px;
  background: black;
  opacity: 0.6;
  color: inherit;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cardset li a:hover, .userset li a:hover {
  color: inherit;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cardset li .card-title, .cardset li .card-body, .userset li .card-title, .userset li .card-body {
  text-overflow: ellipsis;
}
.cardset li .card-title, .userset li .card-title {
  padding: 9px 0 11px 0;
}
.cardset li .card-body, .userset li .card-body {
  margin: 11px -14px 0;
  padding: 10px 14px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.cardset li .card-body.large-plus, .userset li .card-body.large-plus {
  text-align: center;
  font-size: 100px;
  line-height: 1;
}
.cardset li h2, .cardset li h3, .userset li h2, .userset li h3 {
  margin-top: 0;
}
.cardset li h3, .userset li h3 {
  font-size: 14px;
  color: #aaaaaa;
}
.cardset li h2, .userset li h2 {
  color: #c4b1cc;
}

.userset li {
  height: 10em;
  text-align: center;
}
.userset li [class^="icon-"], .userset li [class*=" icon-"] {
  font-size: 80px;
  line-height: 1;
}

.centered .cardset.row {
  margin-left: 0;
}
.centered .cardset li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: none;
  margin: 10px;
}

.cardset.past li {
  height: 7em;
  opacity: 0.7;
}

#map {
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
}

.event-map {
  height: 200px;
}

.defaultSkin table.mceLayout {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.defaultSkin .mceIframeContainer {
  border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.defaultSkin table.mceLayout.focus {
  border-color: #4a90c7 !important;
  border: 1px solid #4a90c7 !important;
}

.defaultSkin td.mceToolbar, .defaultSkin .mceStatusbar {
  background: #aaaaaa !important;
}

.defaultSkin .mceButton {
  border-color: #aaaaaa !important;
}

.defaultSkin a.mceButtonEnabled:hover {
  border-color: #0a246a !important;
}

.leaflet-popup-content-wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.leaflet-popup-content {
  font: 14px/22px Lato, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 10px;
}

.leaflet-popup-close-button {
  top: 3px;
  right: 3px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  color: white;
  background: rgba(34, 34, 34, 0.95);
  -webkit-box-shadow: 0 0 10px #444444;
  -moz-box-shadow: 0 0 10px #444444;
  box-shadow: 0 0 10px #444444;
}

.leaflet-popup-close-button {
  background-color: transparent;
}

.leaflet-container .leaflet-control-attribution {
  color: #aaaaaa;
  background-color: rgba(0, 0, 0, 0.7);
  font: 12px/1.5 Lato, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-box-shadow: 0 0 7px #444444;
  -moz-box-shadow: 0 0 7px #444444;
  box-shadow: 0 0 7px #444444;
}

.disabled {
  color: #666666;
}

.sponsor-box {
  list-style-type: none;
}

.sponsor-box li {
  padding-top: 2em;
  list-style-type: none;
}

.sponsor-logo {
  width: 250px;
}
