body {
  background-color: #203838;
  background-image: url('../img/concrete_wall.png?1336391375');
  color: #ccc;
}

.jumbotron {
  padding-top: 5%;
  text-align: center;
}
.jumbotron h1 {
  font-size: 120px;
  line-height: 1.2;
  margin-bottom: 20px;
}

footer .footer-inner {
  background: transparent;
}

label {
 color: #EEEEEE;
 display: inline-block;
}

ul#status {
  list-style: none;
}

.form-actions {
  background-color: #333333;
}

input#status-1, input#status-0 {
  margin-right: 1em;
}

ul.cardset li .title, ul.cardset li .body {
  padding: 1em 1em;
}


ul.cardset li h2 {
  color: #816894;
  font-size: 130%;
}


ul.cardset li h3 {
  color: #666666;
  font-size: 80%;
  font-weight: normal;
  line-height:15px;
}

ul.cardset li .body {
  color: #000000;
}

#datetimepickercss 
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
