body {
  background-color: #203838;
  background-image: url('../img/concrete_wall.png?1336391375');
  color: #ccc;
}

.jumbotron {
  padding-top: 1%;
  text-align: center;
}
.jumbotron h1 {
  margin-bottom: 10px;
}
.logo h1 {
 margin:0.25em 0 0.1em;
}

footer .footer-inner {
  background: transparent;
}

label {
 color: #EEEEEE;
 display: inline-block;
}

ul#status {
  list-style: none;
}

.form-actions {
  background-color: #333333;
}

input#status-1, input#status-0 {
  margin-right: 1em;
}

div.addhacknight {
  text-align:center;
  margin:1em 0 3em;
}

div.useractions {
  margin:0.1em 0 2em;
}

.useractions a {
  margin: 0 0.5em 0 0;
}

div.breadcrumbs {
  margin-top:0;
  font-size:80%;
}
