body {
  background-color: #203838;
  background-image: url('../img/stucco.png?1333532496');
  color: #000;
}

.jumbotron {
  padding-top: 5%;
  text-align: center;
}
.jumbotron h1 {
  font-size: 120px;
  line-height: 1.2;
  margin-bottom: 10px;
}

footer .footer-inner {
  background: transparent;
}

.logo h1 {
  margin: 0.25em 0 0.1em;
}

label {
  display: inline-block;
}

ul#status {
  list-style: none;
}

input#status-1, input#status-0 {
  margin-right: 1em;
}

div.addhacknight {
  text-align: center;
  margin: 1em 0 3em;
}

div.useractions {
  margin: 0.1em 0 2em;
}
div.useractions .withdraw {
  font-size: 80%;
  vertical-align: bottom;
}
div.useractions img {
  height: 35px;
  vertical-align: middle;
}

div.userstatus p {
  margin: 0;
  display: inline-block;
}

div.breadcrumbs {
  margin-top: 0;
  font-size: 80%;
}
